{% extends 'main/base.html' %}

{% block title %}Обо мне{% endblock %}

{% block text %}
    <div class="main">
        <h1>Обо мне</h1>
        <p>Я родился в Ульяновске. В 2009 году я пошел в первый класс в Богдашкинскую среднюю школу. В школе я увлекался баскетболом, ездил на различные соревнования и со своей командой занимал призовые места. В 2021 году окончил школу и получил среднее общее образование. В данный момент обучаюсь в УлГТУ на направлении информационные системы и технологии.</p>
    </div>
{% endblock %}


